<section class="main-header">
  <img src="<%= asset_path "170224(tubuyaki.png" %>">
</section>
<section class="about">
  <h1>つぶやきアプリ</h1>
  <p>
     DiCの大課題です。<br>
     課題通過しますように。
  </p>
</section>

